# GHDL simulation directory
**/simul

# Vagrant tmp files
.vagrant/

# Vivado output files and directories
synth/floating-point.*

# python output files
**/__pycache__/

# Floating point generated testbench files
testbench/multiplier/main_tb.vhdl
testbench/adder/main_tb.vhdl
