# GHDL simulation directory
**/simul
.vagrant/

# Vivado output files and directories
synth/floating-point.*

# python output files
**/__pycache__/

# Floating Multiplier Testbench
testbench/float_multiplier_tb.vhdl
