# GHDL simulation directory
**/simul

# Vagrant tmp files
.vagrant/

# Vivado output files and directories
synth/adder.*
synth/multiplier.*

# Python output files
**/__pycache__/

# Floating point generated testbench files
testbench/multiplier/fm_tb.vhdl
testbench/adder/fa_tb.vhdl
